<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- refresh %>
        <title><%= message %></title>
    </head>
    <body>
        <h1><%= message %></h1>
        <h1><%= notice %></h1>
    </body>
</html>