<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <style>
        body{
            text-align: center;
            background-color:burlywood;
        }
    </style>
</head>
<body>
    <%- cardForm%>
</body>